<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- Set the supported runtime version -->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <!-- Define your connection strings -->
  <connectionStrings>
    <add name="ContactDbConnection" connectionString="Data Source=DESKTOP-5TKTFP1\SQLEXPRESS;Initial Catalog=ContactsDB;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>